<span class="firstusersP1">Your next step is to enroll in Account Portal at
<a href="https://accountportal.centralsquarecloud.com/">https://accountportal.centralsquarecloud.com/</a>
to set up MFA and change your password before accessing any PLUS applications.
Enrollment instructions are available on your Start Page.</span>
</br>&nbsp;</br>
<span class="firstusersP1">After completing Account Portal enrollment, use FTP File Manager
to upload your database backup files, attachment database/zipped directories, and any other
content requested by your Project Manager and/or Professional Services Consultants.</span>
You can upload documents to any of the provided folders in your default view. (Note: you cannot
upload to the root folder. Navigate into one of the visible "rpt*" folders to upload files.)
Your Start Page contains links to instructions for FTP File Manager.
<b>Inform your Project Manager and/or Professional Services Consultants once you have uploaded
your data to continue your migration processes.</b>
</br>&nbsp;</br>
<span class="firstusersP2"><b>Be advised:</b> Once databases are available to you and your
users in this Cloud environment, it will be the responsibility of ZZZCustomerNameZZZ's
application admins to set and/or verify users' data access (resource codes, custom views, etc.)
in each of your Production and Training databases. With the exception of this user account,
all future ZZZCustomerNameZZZ user accounts created will not be able to access PLUS sites
until that is done.</span>
</br>&nbsp;</br>
<span class="firstusersP2"><b>Be advised:</b> Your Start Page contains links to Cloud policy
information and a secured Users page with a real-time view of all ZZZCustomerNameZZZ user
accounts and their status. It is highly recommended that you review this page periodically
to keep informed of account password status and verify email addresses are correct.
Submit a support request to correct any incorrect email address.</span>
</br>&nbsp;</br>
